body{
    margin: 0;
    padding: 0;
}
.main_header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: block;
}

.main_header_left{
    width: 50%;
    height: 20px;
    float: left;
    background-color: gray;
    
    display: block;
}

.main_header_right{
    width: 50%;
    height: 20px;
    float:right;
    background-color:black;
    display: block;
}

.hero_image_div{
    background-color:blueviolet;
    width: 100%;
    height: 500px;
}

.image_properties{
    width: 100%;
    height: 500px;
}

.main_section{
    width: 100%;
    height: 1000px;
    background-color: darkgreen;
    
}

.sticky_nav_bar{
    width: 100%;
    height: 40px;
    position: sticky;
    overflow: hidden;
    display: block;
    background-color: blanchedalmond;
    top: 60 ;
}

.item_section{
    width: 100%;
    height: 960px;
    display: flex;
    background-color: aliceblue;
}

.category_left_part{
    flex:0.7;
    background-color:yellowgreen;
}

.category_right_part{
    flex: 2.3;
    background-color: gray;
}

.footer_styling{
    width: 100%;
    height: 100px;
    background-color: gray;
}

.contact_details{
    color: white;
    font-size: 20px;
    padding: 38px;
    text-align: center;

}

.overflow_category{
    margin-top: 20px;
    margin-left: 20px;
    width: 95%;
    height: 920px;
    background-color: azure;
    overflow: auto;
}

.content{
    width: 300px;
    height: 350px;
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}    

.img_info{
    width: 95%;
    height: 320px;
    margin: 10px 10px 0 14px;

}

.img_label{
    float: left;
    padding-top:50px;
    padding-left: 20px; 

}

.right_category_header{
    margin-left: 100px;
    font-size: 30px;

}

.button_prop{
    width: 80%;
    background-color: azure;
    height: 50px;
    margin-left: 30px;
    border-radius: 5px;
    margin-top: 30px;

}





.sticky_nav_options{
    float: right;
    background-color:darkgrey;
    height: 39px;
    width: 80px;
    margin: 0 20px 0 20px;

}

.top_anker{
    margin-left: 300px;
}

